:plain
  <script>
    var map, heatmap;
    function initMap() {
      console.log("Starting up");
 
      map = new google.maps.Map(document.getElementById('map'), {
        zoom: 9,
        maxZoom: 16,     
        center: {lat: 39.1186153, lng: -75.5822},
        mapTypeId: 'roadmap'
      });
    }
  </script>
  <script async defer
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB-NT495urHbTOwF35xByjRnIlTYryQ_kk&libraries=visualization&callback=initMap">
  </script>
#map
%div#menu
  %button.close-button{'aria-label': 'Close menu', type: 'button', 'data-close': true}
    Open
